<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit" />

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Expires" content="-1"/>

    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Pragma" content="no-cache"/>

    <title>koa ssr demo</title>
    <meta property="og:url" content="https://koa_ssr_demo.com">
    <meta property="og:site_name" content="koa ssr demo">
    <meta property="og:title" content="koa ssr demo">
    <meta property="og:description" content=" koa ssr demo 是一个 基于koa2 的 vue ssr demo 项目">
    <meta property="og:image" content="https://img.souche.com/20170509/png/fff9d8506199c4bf8cc53bad9d849215.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="260">
    <meta property="og:image:height" content="260">
  </head>
  <body>
    <!--vue-ssr-outlet-->
  </body>
</html>
